#calculator {
    background-color: white;
    width: 8cm;
    color: black;
    padding: 1cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    border-radius: 6px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.334);
    text-align: center;
}

.labels {
    font-size: 24px;
}

.inputs {
    font-size: 20px;
    width: 1.5cm;
    border-radius: 4px;
    border: 1.5px solid black;
    text-align: center;
}

#weight-input {
    margin-left: 20px;
}

#height-input {
    margin-left: 5px;
}

.btn-success {
    font-size: 16px;
    border: 1px solid black;
    margin-top: 4px;
}

#infos {
    font-size: 18px;
    margin-top: 4px;
}
.units {
    font-size: 20px;
}